@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

body {
  margin: 0;
}

p {
  margin: 0;
  display: inline-block;
}

.App {
  background-color: #1EE494;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://unpkg.com/leaflet@1.6.0/dist/leaflet.css');

#mapid {
  height: 400px;
  width: 100%;
}

.chapitre {
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: black;
  color: white;
  display: inline-block;
}