.chatroom {
    margin-top: 10px;
    width: 100%;
    height: 550px;
    background-color: rgba(0,0,0, .7);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
}

.chatroom .pseudo {
    color: white;
}

.chatroom h3 {
    font-family: 'Pacifico', cursive;
    background-color: rgba(49, 17, 228, 0.7);
    color: #FFF;
    margin: 0;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatroom .messages {
    box-sizing: border-box;
    padding: 0 20px;
    margin: 10px 0 0;
    height: 430px;
    overflow-y: scroll;
}

.chatroom .messages .message {
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    padding: 5px 13px;
    font-size: 14px;
    border-radius: 10px;
    list-style: none;
    float: left;
    clear: both;
    margin: 10px 0;
    max-width: 50%;
    word-wrap: break-word;
}


.chatroom .messages .message.right {
    float: right;
    clear: both;
}

.chatroom .messages .message a {
    text-decoration: none;
    color:#3498DB;
}
